
@{
    ViewData["Title"] = "Contacto";
}

<h1>Contacto</h1>

<a href="mailto:cunhamauro@outlook.pt">cunhamauro@outlook.pt</a><br />
<a href="https://github.com/cunhamauro">
    <i class="bi bi-github social-icon"></i>
</a>
<br />
<a href="https://www.linkedin.com/in/cunhamauro/">
    <i class="bi bi-linkedin social-icon"></i>
</a>
