@model Sales_NET8.Web.Data.Entities.Country

@{
    ViewData["Title"] = "Adicionar País";
}

<h1>Adicionar País</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="_Country"/>

            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>
