@model Sales_NET8.Web.Data.Entities.Country

@{
    ViewData["Title"] = "Detalhes do País";
}

<h1>Detalhes do País</h1>

<div>
    <hr />

    <partial name="_CountryDetails" />

</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.Id">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
