
@{
    ViewData["Title"] = "Sobre";
}

<h1>Sobre</h1>
<p>Aplicação desenvolvida no âmbito da UFCD de Programação para a WEB - Servidor(Server side), com o Professor Rafael Santos, no CET de Tecnologias e Programação de Sistemas de Informação da <a href="https://www.cinel.pt/appv2">CINEL</a>.</p>

