@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Esta é uma aplicação CRUD desenvolvida em ASP.NET 8 MVC que te permite adicionar, editar e remover países.</p>
</div>
