@model Sales_NET8.Web.Data.Entities.Country

@{
    ViewData["Title"] = "Adicionar País";
}

<h1>Adicionar País</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Adicionar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
                <a asp-action="Indice" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>
