@model Sales_NET8.Web.Data.Entities.Country

@{
    ViewData["Title"] = "Detalhes do País";
}

<h1>Detalhes do País</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.Id">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
